*{
    font-family: "roboto";
    font-weight: 100;
}

body{
    background: rgb(169, 205, 220);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.boardContainer{
    width: 50vmin;
    height: 50vmin;
    display: flex;
    flex-direction: column;
}

.boardContainer div{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.boardContainer div div{
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 11vmin;
    padding: 0px;
}

#cell0-0{
    border-bottom: .3vmin solid black;
    border-top: 0px solid black;
    border-right: .3vmin solid black;
    border-left: 0px solid black;
}
#cell0-1{
    border-bottom: .3vmin solid black;
    border-top: 0px solid black;
    border-right: 0px solid black;
    border-left: 0px solid black;
}
#cell0-2{
    border-bottom: .3vmin solid black;
    border-top: 0px solid black;
    border-right: 0px solid black;
    border-left: .3vmin solid black;
}
#cell1-0{
    border-bottom: 0px solid black;
    border-top: 0px solid black;
    border-right: .3vmin solid black;
    border-left: 0px solid black;
}
#cell1-1{
    border-bottom: 0px solid black;
    border-top: 0px solid black;
    border-right: 0px solid black;
    border-left: 0px solid black;
}
#cell1-2{
    border-bottom: 0px solid black;
    border-top: 0px solid black;
    border-right: 0px solid black;
    border-left: .3vmin solid black;
}
#cell2-0{
    border-bottom: 0px solid black;
    border-top: .3vmin solid black;
    border-right: .3vmin solid black;
    border-left: 0px solid black;
}
#cell2-1{
    border-bottom: 0px solid black;
    border-top: .3vmin solid black;
    border-right: 0px solid black;
    border-left: 0px solid black;
}
#cell2-2{
    border-bottom: 0px solid black;
    border-top: .3vmin solid black;
    border-right: 0px solid black;
    border-left: .3vmin solid black;
}

