*{
    font-family: "roboto";
    font-weight: 100;
}

body{
    background: linear-gradient(117deg, rgba(34,193,195,1) 0%, rgba(143,193,242,1) 100%);
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:start;
    height: 100vh;
}

.left{
    height: 50vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vmin;
}

.winContainer{
    height: 20vmin;
    font-size: 5vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    padding: 0px;
    margin: 1vmin;
    border: 0px;
    font-size: 3vmin;
    font-weight: 600;
}
button{
    border-radius: .5vmin;
    padding: 2vmin;
    background-color: rgba(255, 255, 255, 0.212);
    border: none;
    width: 12vmin;
    font-weight: 600;
}
button:hover{
    background-color: aquamarine;
    transform: scale(1.10);
    transition: .2s;
}
button:active{
    transform: scale(.95);
}


.boardContainer{
    width: 50vmin;
    height: 50vmin;
    display: flex;
    flex-direction: column;
}

.boardContainer div{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.boardContainer div div{
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 11vmin;
    padding: 0px;
}

#cell0-0{
    border-bottom: .3vmin solid black;
    border-top: 0px solid black;
    border-right: .3vmin solid black;
    border-left: 0px solid black;
}
#cell0-1{
    border-bottom: .3vmin solid black;
    border-top: 0px solid black;
    border-right: 0px solid black;
    border-left: 0px solid black;
}
#cell0-2{
    border-bottom: .3vmin solid black;
    border-top: 0px solid black;
    border-right: 0px solid black;
    border-left: .3vmin solid black;
}
#cell1-0{
    border-bottom: 0px solid black;
    border-top: 0px solid black;
    border-right: .3vmin solid black;
    border-left: 0px solid black;
}
#cell1-1{
    border-bottom: 0px solid black;
    border-top: 0px solid black;
    border-right: 0px solid black;
    border-left: 0px solid black;
}
#cell1-2{
    border-bottom: 0px solid black;
    border-top: 0px solid black;
    border-right: 0px solid black;
    border-left: .3vmin solid black;
}
#cell2-0{
    border-bottom: 0px solid black;
    border-top: .3vmin solid black;
    border-right: .3vmin solid black;
    border-left: 0px solid black;
}
#cell2-1{
    border-bottom: 0px solid black;
    border-top: .3vmin solid black;
    border-right: 0px solid black;
    border-left: 0px solid black;
}
#cell2-2{
    border-bottom: 0px solid black;
    border-top: .3vmin solid black;
    border-right: 0px solid black;
    border-left: .3vmin solid black;
}

